@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* global */

* {
    box-sizing: border-box;
}

html {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    background-color: #f7f7f2;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: #f05d23
}

h1 {
    font-weight: bolder;
    font-size: 16px;
}

.subtread-divider {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(247, 247, 242, 0), rgba(38, 28, 21, 0.5), rgba(247, 247, 242, 0));
}

/* index.html */

.container {
    margin: 20px;
    padding: 20px;
}

.subtread {
    margin-top: 20px;
}

.subtread-title {
    background-color: #c5d86d;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.subtread-discription * {
    margin-block: 0;
}

.subtread-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subtread-column {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #eae6c3;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtread-logo i {
    font-size: 35px;
    color: #261c15;
}


/* header */

header {
    margin-inline: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 35px;
}

.navigation {
    background-color: #eae6c3;
    padding: 20px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    padding: 10px;
    font-size: 20px;
    color: #000000;
}

.nav-item a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.close-icon i {
    font-size: 60px;
    float: left;
    cursor: pointer;
    color: #000000;
}

.hide-nav {
    display: none;
}

.bar-icon {
    font-size: 60px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: #c5d86d;
}

.brand {
    font-size: 60px;
    display: inline-block;
    padding: 20px;
}


/* search bar */

.search-bar {
    margin-top: 20px;
    margin: 40px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: right;
    border: solid 1px #c5d86d;
    box-shadow: 1px 2px 3px #c5d86d;
}

.search-bar select {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 3px #63666A;
}

.search-bar input {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 3px #63666A;
}

.search-bar button {
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 3px #63666A;
}

.search-bar button:hover {
    background-color: #eae6c3;
    box-shadow: 1px 2px 3px #fff;
}


/* media queries */


/* mobile devices */
@media screen and (max-width: 790px) {
    .nav-item a {
        display: inline;
        margin-inline: 3px;
        font-size: 18px;
    }

}

@media screen and (max-width: 670px) {
    .nav-item a {
        margin-inline: 3px;
        font-size: 15px;
        padding: 5px;
    }

}

@media screen and (max-width: 460px) {

    .container {
        margin: 20px;
        padding: 20px;
    }

    .subtread-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subtread-stats {
        font-size: 12px;
    }

    .navigation {
        max-height: auto;
    }

    .close-icon i {
        font-size: 30px;
    }

    .nav-item a {
        margin-inline: 2px;
        font-size: 10px;
        padding: 1px;
    }

    .bar-icon {
        font-size: 30px;
    }

    .brand {
        font-size: 20px;
    }

    .search-bar select,
    .search-bar input,
    .search-bar button {
        min-width: 250px;
        margin: 5px;
    }
}

/* iphone 12 pro */
@media screen and (max-width: 390px) {
    .nav-item a {
        margin-inline: 2px;
        font-size: 8px;
        padding: 1px;
    }

    .search-bar select,
    .search-bar input,
    .search-bar button {
        min-width: 220px;
        margin: 5px;
    }
}

/* table devices */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        font-size: 35px;
    }

    html {
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }

}