<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forrum</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://kit.fontawesome.com/c7dbda0798.js"></script>

</head>

<body>

    <header>

        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide-nav" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li class="nav-item"><a href="{% url 'signin' %}">Log In</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </nav>
            <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand">
                <a href="{% url 'home' %}" style="color: #eae6c3;">Forrum</a>
            </div>
        </div>



        <!-- Forrum Stats -->
        <div class="forum-stats">
            <div class="chart">
                Forrum - Stats &nbsp;<i class="fas fa-chart-bar"></i>
            </div>
            <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
            <span>Latest post: <b><a href="">Random post</a></b> on 01 Jan 2022 By <a href="">SiteUser</a></span>.<br>
            <span>Check <a href="">the latest posts</a> .</span><br>
        </div>

        <!-- Search Bar Section -->
        <div class="search-bar">
            <div class="postbut">
                {% if user.is_authenticated %}
                
                <button type="submit" name="post">
                    <a href="{% url 'create_post' %}">
                        <i class="fas fa-edit"></i>Create Post
                    </a>
                
                </button>
                {% endif %}
                <select name="" id="">
                    <option value="all">All</option>
                    <option value="threads">Treads</option>
                    <option value="description">Description</option>
                </select>
                <input type="text" name="" id="" placeholder="Search Forrum...">
                <button><i class="fas fa-search"></i></i></button>
            </div>
        </div>

    </header>
    {% block content %}
    {% endblock content %}


    <footer>
        <span>&copy; &nbsp;Forrum | All Rights Reserved.</span>
    </footer>

    <script src="/static/main.js"></script>
</body>

</html>