<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forrum</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://kit.fontawesome.com/c7dbda0798.js"></script>

</head>

<body>

    <header>

        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide-nav" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="rooms.html">Rooms</a></li>
                    <li class="nav-item"><a href="threads.html">Threads</a></li>
                    <li class="nav-item"><a href="profile.html">Profile</a></li>
                </ul>
            </nav>
            <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand">
                <a href="home.html" style="color: #eae6c3;">Forrum</a>
            </div>
        </div>



        <!-- Forrum Stats -->
        <div class="forum-stats">
            <div class="chart">
                Forrum - Stats &nbsp;<i class="fas fa-chart-bar"></i>
            </div>
            <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
            <span>Latest post: <b><a href="">Random post</a></b> on 01 Jan 2022 By <a href="">SiteUser</a></span>.<br>
            <span>Check <a href="">the latest posts</a> .</span><br>
        </div>

        <!-- Search Bar Section -->
        <div class="search-bar">
            <div>
                <select name="" id="">
                    <option value="all">All</option>
                    <option value="threads">Treads</option>
                    <option value="description">Description</option>
                </select>
                <input type="text" name="" id="" placeholder="Search Forrum...">
                <button><i class="fas fa-search"></i></i></button>
            </div>
        </div>

    </header>

    <div class="container">
        <div class="subtread">
            <div class="subtread-title">
                <h1>Room</h1>
            </div>
            <div class="subtread-row">
                <div class="subtread-logo subtread-column center-icon">
                    <i class="fab fa-rocketchat"></i>
                </div>
                <div class="subtread-discription subtread-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="subtread-stats subtread-column center-icon">
                    <span>12 Posts | 15 Topics</span>
                </div>
                <div class="subtread-info subtread-column">
                    <a href="">Last Post</a> by <a href="">SiteUser</a>
                    <br>
                    0n <small>01 Jan 2022</small>
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="subtread">
            <div class="subtread-title">
                <h1>Room</h1>
            </div>
            <div class="subtread-row">
                <div class="subtread-logo subtread-column center-icon">
                    <i class="fab fa-rocketchat"></i>
                </div>
                <div class="subtread-discription subtread-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="subtread-stats subtread-column center-icon">
                    <span>12 Posts | 15 Topics</span>
                </div>
                <div class="subtread-info subtread-column">
                    <a href="">Last Post</a> by <a href="">SiteUser</a>
                    <br>
                    0n <small>01 Jan 2022</small>
                </div>
            </div>
            <hr class="subtread-divider">
            <div class="subtread-row">
                <div class="subtread-logo subtread-column center-icon">
                    <i class="fab fa-rocketchat"></i>
                </div>
                <div class="subtread-discription subtread-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="subtread-stats subtread-column center-icon">
                    <span>12 Posts | 15 Topics</span>
                </div>
                <div class="subtread-info subtread-column">
                    <a href="">Last Post</a> by <a href="">SiteUser</a>
                    <br>
                    0n <small>01 Jan 2022</small>
                </div>
            </div>
            <hr class="subtread-divider">
            <div class="subtread-row">
                <div class="subtread-logo subtread-column center-icon">
                    <i class="fab fa-rocketchat"></i>
                </div>
                <div class="subtread-discription subtread-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="subtread-stats subtread-column center-icon">
                    <span>12 Posts | 15 Topics</span>
                </div>
                <div class="subtread-info subtread-column">
                    <a href="">Last Post</a> by <a href="">SiteUser</a>
                    <br>
                    0n <small>01 Jan 2022</small>
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="subtread">
            <div class="subtread-title">
                <h1>Room</h1>
            </div>
            <div class="subtread-row">
                <div class="subtread-logo subtread-column center-icon">
                    <i class="fab fa-rocketchat"></i>
                </div>
                <div class="subtread-discription subtread-column">
                    <h1><a href="">Description Title</a></h1>
                    <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="subtread-stats subtread-column center-icon">
                    <span>12 Posts | 15 Topics</span>
                </div>
                <div class="subtread-info subtread-column">
                    <a href="">Last Post</a> by <a href="">SiteUser</a>
                    <br>
                    0n <small>01 Jan 2022</small>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <span>&copy; &nbsp;Forrum | All Rights Reserved.</span>
    </footer>

    <script src="main.js"></script>
</body>

</html>