{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="subtread">
        <div class="subtread-title">
            <h1>Topic</h1>
        </div>

        {% for forum in forums %}
        <div class="subtread-row">
            <div class="subtread-logo subtread-column center-icon">
                <i class="fab fa-rocketchat"></i>
            </div>
            <div class="subtread-discription subtread-column">
                <h1><a href="{% url 'category' category_id=forum.slug %}">{{forum.title}}</a></h1>
                <p>Description Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="subtread-stats subtread-column center-icon">
                <span>12 Posts | {{ forum.post_count }} Topics</span>
            </div>
            <div class="subtread-info subtread-column">
                <a href="">Last Post</a> by <a href="">SiteUser</a>
                <br>
                0n <small>01 Jan 2022</small>
            </div>
        </div>

        {% endfor %}
    </div>

</div>


{% endblock content %}