{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="subtread">
        <div class="subtread-title">
            <h1>Rooms</h1>
        </div>

        {% for forum in forums %}
        <div class="subtread-row">
            <div class="subtread-logo subtread-column center-icon">
                <i class="fas fa-house-user"></i>
            </div>
            <div class="subtread-discription subtread-column">
                <h1><a href="{% url 'category' category_id=forum.slug %}">{{forum.title}}</a></h1>
                <p>Room</p>
            </div>
            <div class="subtread-stats subtread-column center-icon">
                <span>{{forum.post_count}} Topics</span>
            </div>
            <div class="subtread-info subtread-column">
                <a href="{% url 'category' category_id=forum.slug %}">Last Post</a> by <a href="">{{forum.last_post.user.fullname|title}}</a>
                <br>
                0n <small>{{forum.last_post.date|date}}</small>
            </div>
        </div>

        {% endfor %}
    </div>

</div>


{% endblock content %}