{% extends 'base.html' %}

{% block content %}

<div class="container">

    <!-- Navigation -->
    <div class="navigate">
        <span><a href="#">Forrum - Forums</a> >> <a href="">Random Thread</a> >> <a href="">Random Topic</a></span>
    </div>
    <!-- Comment Section -->
    <div class="thread-container">
        <div class="head">
            <div class="author">Author</div>
            <div class="content">Topic: Post's Tiltle (Read 1232 Times)</div>
        </div>

        <div class="body">
            <div class="author">
                <div class="username"><a href="#">Username</a></div>
                <div>Role</div>
                <img src="{{ MEDIA_URL }}avatar.png" alt="avatar">
                <div>Posts: <u>40</u></div>
                <div>Points: <u>1232</u></div>
            </div>

            <div class="content">
                Just random placeholder text for a post in a room.
                <br>To see what it looks like.
                <br><br>
                Nothing else ...
                <br><br>
                <hr>
                Regards Username
                <div class="comment">
                    <button onclick="showComment()">Comment</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Comments -->
    <div class="comment-section hide" id="comment-section">
        <textarea name="comment" id="" placeholder="...what are your thoughts?"></textarea>
        <input type="submit" value="Comment">
    </div>

    <div class="comments-container">
        <div class="head">
            <div class="author">Author</div>
            <div class="content">Comments</div>
        </div>

        <div class="body">
            <div class="author">
                <div class="AnotherUser"><a href="#">Username</a></div>
                <div>Role</div>
                <img src="{{ MEDIA_URL }}avatar.png" alt="avatar">
                <div>Posts: <u>40</u></div>
                <div>Points: <u>1232</u></div>
            </div>

            <div class="content">
                Just random comment for a post in a room.
                <br>To see what it looks like.
                <br><br>
                Nothing else ...
                <br><br>

                <div class="comment">
                    <button onclick="showReply()">Reply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Reply input -->
    <div class="comment-section hide" id="reply-section">
        <textarea name="reply" id="" placeholder="...reply"></textarea>
        <input type="submit" value="Reply">
    </div>

</div>

{% endblock content %}