@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* ******************************* */
/* ************************ Global */

* {
    box-sizing: border-box;
}

html {
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    background-color: #f7f7f2;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: #f05d23;
}

h1 {
    font-weight: bolder;
    font-size: 16px;
}

.subtread-divider {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(247, 247, 242, 0), rgba(38, 28, 21, 0.5), rgba(247, 247, 242, 0));
}

footer {
    margin-top: 20px;
    padding: 20px;
    display: block;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    color: #eae6c3;
    background-color: #261c15;
    bottom: 0;
    width: 100%;
    height: 4rem;
}



/* ******************************* */
/* ************************ home.html */

.container {
    margin: 20px;
    padding: 20px;
}

.subtread {
    margin-top: 20px;
}

.subtread-title {
    background-color: #c5d86d;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.subtread-discription * {
    margin-block: 0;
}

.subtread-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subtread-column {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #eae6c3;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtread-logo i {
    font-size: 35px;
    color: #261c15;
}


/* ************************ Header */

header {
    margin-inline: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
    color: #eae6c3;
    background-color: #261c15;
}

.navigation {
    background-color: #eae6c3;
    padding: 20px;
    margin: 18px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
    border: solid 1px #c5d86d;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    padding: 10px;
    font-size: 25px;
    color: #261c15;
}

.nav-item a:hover {
    color: #f05d23;
}

.close-icon i {
    font-size: 60px;
    float: left;
    cursor: pointer;
    color: #261c15;
}

.hide-nav {
    display: none;
}

.bar-icon {
    font-size: 60px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    color: #eae6c3;
}

.brand {
    margin: 20px;
    font-size: 60px;
    display: inline-block;
}


/* ************************ Forrum Stats */

.forum-stats {
    background-color: #eae6c3;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #c5d86d;
    box-shadow: 1px 2px 3px #c5d86d;
}

.chart {
    font-size: 20px;
}


/* ************************ Search bar */

.search-bar {
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-bar select {
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 2px 3px #63666A;
    font-size: 20px;
}

.search-bar input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 2px 3px #63666A;
    font-size: 20px;
}

.search-bar button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 3px #63666A;
}

.search-bar button:hover {
    background-color: #eae6c3;
    box-shadow: 1px 2px 3px #fff;
    cursor: pointer;
}

/* ******************************* */
/* ************************ threads.html */

.table-head {
    display: flex;
}

.table-head div {
    padding: 5px;
    margin: 2px;
    background-color: #c5d86d;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.table-head .status {
    flex: 5%;
}

.table-head .subjects {
    flex: 70%;
}

.table-head .replies {
    flex: 10%;
}

.table-head .last-post {
    flex: 15%;
}


/* ************************ Table body */
.table-row {
    display: flex;
}

.table-head div {
    padding: 5px;
    margin: 2px;
}

.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-post {
    padding: 5px;
    margin: 2px;
    background-color: #eae6c3;
    border-radius: 5px;
}

.table-row .status {
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects {
    flex: 70%;
}

.table-row .replies {
    flex: 10%;
}

.table-row .last-post {
    flex: 15%;
}


/* ************************ Pagination */

.pagination {
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.pagination a {
    margin-inline: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #63666A;
}

.pagination a:hover {
    background-color: #eae6c3;
    box-shadow: 1px 2px 3px #fff;
    cursor: pointer;
}

.empty-tag {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/* ************************ Navigate */

.navigate {
    margin-block-end: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a:hover {
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}


/* ************************ Note */

.note {
    background-color: #eae6c3;
    padding: 20px;
    margin-top: 20px;
    padding: 20px;
    display: block;
    border-radius: 5px;
    border: solid 1px #c5d86d;
    box-shadow: 1px 2px 3px #c5d86d;
}

.note span {
    font-size: 20px;
    margin-block: 5px;
}


/* ******************************* */
/* ************************ rooms.html */

.head {
    display: flex;
    background-color: #c5d86d;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.author {
    flex: 20%;
}

.content {
    flex: 80%;
    margin: 20px;
}

.body {
    display: flex;
    background-color: #c5d86d;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.body .author .username {
    font-size: 20px;
}

.body .author img {
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    color: #261c15;
    box-shadow: 1px 2px 3px #63666A;
}

/* ************************ Comment Section */

.hide {
    display: none;
}

.comment-section {
    border-radius: 5px;
    margin-top: 10px;
}

.comment-section textarea {
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    background-color: #eae6c3;
}

.comment-section input {
    margin: 5px;
    border: none;
    float: right;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 3px #63666A;
}

.comment-section input:hover {
    border: solid 1px #261c15;
}

.comments-container {
    margin-top: 40px;
}


/* ******************************* */
/* ************************ Media Queries */

/* ************************ Mobile devices */
@media screen and (max-width: 790px) {
    .nav-item a {
        display: inline;
        margin-inline: 3px;
        font-size: 18px;
    }

}

@media screen and (max-width: 670px) {
    .nav-item a {
        margin-inline: 3px;
        font-size: 15px;
        padding: 5px;
    }

}

@media screen and (max-width: 460px) {

    .container {
        margin: 20px;
        padding: 20px;
    }

    .subtread-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subtread-stats {
        font-size: 12px;
    }

    .navigation {
        max-height: auto;
    }

    .close-icon i {
        font-size: 30px;
    }

    .nav-item a {
        margin-inline: 2px;
        font-size: 10px;
        padding: 1px;
    }

    .bar-icon {
        font-size: 30px;
    }

    .brand {
        font-size: 20px;
    }

    .search-bar select,
    .search-bar input,
    .search-bar button {
        min-width: 250px;
        margin: 5px;
    }
}


/* ************************ iphone 12 pro */
@media screen and (max-width: 390px) {
    .nav-item a {
        margin-inline: 2px;
        font-size: 8px;
        padding: 1px;
    }

    .search-bar select,
    .search-bar input,
    .search-bar button {
        min-width: 220px;
        margin: 5px;
    }
}

/* ************************ table devices */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        font-size: 35px;
    }

    html {
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }

}